{
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["./"],
        "alias": {
          "@app": "./app",
          "@assets": "./assets",
          "@auths": "./auths",
          "@components": "./components",
          "@services": "./services"
        }
      }
    ]
  ]
}
